* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
video,
svg {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

body {
    background-color: #ffffff;
}

.text1 {
    margin-top: 20vh;
    text-align: center;
    font-size: 2rem;
}

.osloskolen-gpt, .max-gpt {
    /* outline: 5px solid black; */
    width: 336px;
    height: 280px;
}

.max-gpt {
    position: absolute;
    left: 0;
    top: 0;
}
